<div class="row">
    <h1>Projects</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Argentina Programa</h1>
            <h2>May 2023</h2>
            <p>
                This is my very first web development project. It's a portfolio, where you can know a little bit more about me. It has a login with special permissions, for example delete or edit information.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <a href=""><img src="../../../assets/ArgProg.png" class="img-fluid img-proyecto" id="proj">
            </a>
        </div>

    </div>
</div>
